@model LoginFormAspCore6.Models.User

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @{
            if(ViewBag.Message!= null)
            {
                <p style="color:red;">@ViewBag.Message</p>
            }
            if(TempData["Success"]!= null)
            {
                <p style="color:lawngreen;">@TempData["Success"]</p>
            }
        }
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            
           
            <div class="form-group">
                <label asp-for="Emai" class="control-label"></label>
                <input asp-for="Emai" class="form-control" />
                <span asp-validation-for="Emai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
        <br />
        <p>
            <a asp-controller="Home" asp-action="Register">Click Here To SignUp</a>
        </p>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
